.user {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 50px;
}

img {
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user_info {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.profile_info, .location_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  width: 200px;
  margin-bottom: 20px;
}

.paginationItem {
  margin-right: 5px;
  cursor: pointer;
}

.selectedPage {
  margin-right: 5px;
  font-weight: bold;
}